body{
    background-image: url('bg.jpg');
}

.containerm{
    position: relative;
    overflow:auto;
    overflow-x: hidden;
    scroll-snap-type: none;
    height: 100vh;
}


.maincontainer{
    width: 100%;
    height: auto;
}

.container-1{
    padding: 20px;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.container-1 h1{
    font-size: 3rem;
    padding: 20px;
    border-bottom: solid 2px #252d3b;
    color: #293241;
}

.container-1 ul{
    padding: 1.5rem;
    height: 6rem;
    display:flex;
    justify-content: space-between;
    list-style: none;

}

.container-1 ul li{
    text-decoration: none;
    
    margin: 1rem 1.5rem;
}

.container-1 ul li a{
    font-size: 1.2rem;
    font-weight: 700;
    color: #293241;
    padding: 5px 10px;
    transition: all 0.5s ease;
}



.container-1 ul li a:hover{
    font-size: 1.5rem;
    color: #485873;
}

.container-1 ul li .listactive:hover{
    font-size: 1.2rem;
}

.container-1 ul li .listactive{
    border-bottom: solid 3px cornflowerblue;
}

.container-2{
    min-height: 100vh;
    margin: auto; 
    padding: 2rem;
    width: 95%;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 45% 45%;
    grid-row-gap: 4rem;
    grid-auto-flow: row;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-2 .projet{
    display: none;
    margin: auto;
    width: 28rem;
    height: 100%;
    background:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transition: all 0.5s ease;
}

.container-2 .visible{
    display: flex;
    flex-direction: column;
}

.container-2 .projet:hover{
    width: 33rem;
    height: 110%;
}

.container-2 .projet img{
    width: 100%;
    height: 70%;
    object-fit:cover;

}

.container-2 .projet .projet-container{
    padding: 15px;
}

.container-2 .projet .projet-container h2{
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: #293241;
    font-weight: 700;
} 

.container-2 .projet .projet-container .progressbar{
    height: 5px;
    width: 100%;
    background: darkgray;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.container-2 .projet .projet-container p{
    font-size: 1rem;
    margin: 12px 0;
    font-weight: 600;
    color: #293241;
} 

@media(max-width: 1200px){
    .container-2{
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
}