@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');


* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

body {
    background-color:#25282D;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.containerm{
    position: relative;
    overflow:auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
    background-image: url(bg.jpg);
}

section{
    position: relative;
    height: auto;
}

/** nav **/

header .title{
    font-weight: 600;
    color: #98C1D9; 
    font-size: 2.5rem;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav li, a, active, .burger{
    font-weight: 600;
    font-size: 1.2rem;
    color: #98C1D9;
    text-decoration: none; 
    padding: 5px 0;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}

header{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-color: #293241;
    padding: 30px 10%;
}

nav ul{
    list-style: none; 
    display: flex;
}

nav ul li{
    margin-left: 30px;
}

nav li a:hover, .nav li a:focus{
    color: cornflowerblue;
}

.active{
    border-bottom: 2.9px solid white;
    padding: .25em;
}

.active:hover{
    color: #98C1D9;
}

.burger{
    display:none;
}

.burger div{
    width: 75px;
    height: 9px;
    background-color: white;
    margin-bottom: 15px;
    transition: all 0.5s ease;
}

.popup-screen{
    z-index: 99;
    position: fixed;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: 0.5s ease;
    transition-property: visibility;
}

.popup-screen.p-active{
    visibility: visible;
}

.popup-box{
    position: relative;
    background: #293241;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 50rem;
    backdrop-filter: blur(10px);
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 50px 40px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s ease;
    transition-property: opacity, transform;
}

.popup-screen.p-active .popup-box{
    opacity: 1;
    transform: translateY(0%);
}

.popup-box .etitle{
    margin: 0;
    margin-bottom: 20px;
    font-size: 3rem;
}

.popup-box .content{
    overflow: hidden;
    color: darkgrey;
    font-size: 2rem;
}

.popup-box .close-btn{
    position: absolute;
    color: cornflowerblue;
    font-size: 1.5rem;
    top: 0;
    right: 0;
    margin: 15px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease;
    transition-property: opacity;
}

.close-btn:hover{
    opacity: 1;
}

/* main -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.t{
    color:white;
}

.st{
    color: #98C1D9;
    font-size: 1.8em;
}


.p1{
    color: darkgray;
    font-weight: 500;
    font-size:1em;
}



/* first section -------------------------------------------------------------------------------------------------*/

.prbox{
    width: 95%;
    margin: 5em auto;
    font-weight: 600;
    color: #3D5A80;
    background: #293241;
    display:flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.prbox .subcontainer{
    width: 70%;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: 1.25em;
    border-radius: 2px;
    background: transparent;
}

.prbox .subcontainer .t{
    font-size: 2.7em
}

.prbox .subcontainer .button{
    margin-top: 1em;
    text-decoration: none;
    display:inline-block;
    border: none;
    background-color: cornflowerblue;
    color:white;
    padding: 15px 32px;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.prbox .subcontainer .button:hover{
    background-color: #556DD4;
}

.prbox .subcontainerR{
    padding: 2em;
    width: 30%;
    display: flex;
    justify-content: center;
}

.img1{
    max-width: 800px;
    width: 90%;
    object-fit: contain;
    clip-path: circle();
}

/* second section -------------------------------------------------------------------------------------------------*/

.img2{
    min-width: 10px;
    width: 3em;
    bottom: 0px;
}

.container{
    font-size: 40px;
    width: 100%;
    min-height: 100vh;
    background-color: #EE6C4D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .subcontainer{
    height: 100%;
    margin: 0 2%;
    display:grid;  
    grid-gap: 10px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50% ;
}



.subcontainer .element{
    min-height: 14em;
    background: #293241;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:flex;
    flex-direction: column;
    font-size: 20px; 
}

.etitle{
    margin: 0.7em;
    font-size: 2rem;
    color: white;
}

.element .econtent{
    margin: 0 1em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    white-space: normal;
    height: 7em;
    color: darkgrey;
}

.element a{ 
    margin-top: 1em;
    color: #98C1D9;
}

.element a:hover{
    color: cornflowerblue;
}

/* footer -------------------------------------------------------------------------------------------------*/

footer{
    margin: auto;
    width: 98%;
    margin-top: 3em;
    margin-bottom: 1em;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background:#25282D; 
}

footer .col{
    padding: 2em;
    color: darkgray;
    text-align: center;
    width: 30%;
    height: 100%;
}

footer .col .t{
    border-bottom-style: solid; 
    border-bottom-width: 3px; 
    border-bottom-color: cornflowerblue; 
    padding-bottom: 10px; 
    font-size: 2em;
}

/* media queries */




@media(max-width: 1800px){
    .containerm{
        scroll-snap-type: none;
        overflow-x: hidden;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media(max-width: 1500px){
    body{
        font-size: 20px;
        
    }
    
    .prbox{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 3em auto;
        padding: 0;
    }

    .img1{
        width: 100%;
    }

    .prbox .subcontainer{
        width: 95%;
        margin: auto;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .prbox .subcontainerR{
        width: 30%;
        padding: 0;
    }
}

@media(max-width: 1200px){

    

    header{
        padding: 5rem;
    }

    header .title{
        font-size: 3rem;
    }

    .t{
        font-size: 5rem;
    }
    
    .prbox .subcontainer{
        width: 90%;
        margin-right: 2em;
        display: block;
    }
    
    .img1{
    min-width: 600px;
    width: 90%;
    }
    
    .img2{
        width: 300px;
        margin-bottom: 1em;
    }
    
    .prbox .subcontainer .t{
        font-size: 10.5rem;
        font-weight: 700;
    }
    .prbox .subcontainer .st{
        font-size: 8rem;
        font-weight: 700;
    }
    .prbox .subcontainer .p1{
        font-size: 3rem;
    }
    .prbox .subcontainer .button{
        font-size: 5rem;
        border-radius: 10px;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
        font-weight: 600;
        width: 100%;
    }
    
    .container .t{
        font-size: 9rem;
        font-weight: 700;
    }
    
    .container .subcontainer{
        grid-gap: 2em;
        margin: 0 1.7em;
    }
    
    .container .element .etitle{
        font-size: 7rem;
    }
    
    .container .element .econtent{
        font-size: 3rem;
    }
    
    .container .element a{
        font-size: 3rem;
    }
    
    
    footer .col{
        width: 50%
    }
    
    footer .col .t{
        font-size: 3rem;
    }
    
    footer .col .p1{
        font-size: 1.7rem;
    }
    
    
    
    .container .subcontainer{
        display:flex;
        flex-direction: column;
        
    }
    
    nav ul{
        position: absolute;
        z-index: 1;
        background: #293241;
        height: 100vh;
        top: 15rem;
        right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: all 0.3s ease 0s;
    }
    
    nav ul li{
        margin: 1em 0;
        opacity: 0;
    }
    
    nav li, a{
    font-size: 4rem;
    padding: 1em;
    margin: 0;
    }   

    footer a{
        font-size: 1.3rem;
        padding: 0;
    }

    .burger{
        display:block;
        cursor: pointer;
    }

    .popup-box .close-btn{
        font-size: 3.5rem;
    }

}

.nav-active{ 
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px)
    }
    to{
        opacity: 1;
        ransform: translateX(0px)
    }
}

.toggle .ligne1{
    transform: rotate(-45deg) translate(-15px, 16px);
}

.toggle .ligne2{
    opacity: 0;
}

.toggle .ligne3{
    transform: rotate(45deg) translate(-15px, -16px);
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.isactive{
    transform: translateY(0px);
    opacity: 1;
}

